<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/internal/nlog.txt"
      internalLogLevel="Info" >

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->

    <target xsi:type="ColoredConsole" name="all_console" useDefaultRowHighlightingRules="false"
            layout="${longdate}|${level:uppercase=false}|${message} ${exception:format=tostring} ${all-event-properties}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="error_file" xsi:type="File"
                    fileName="${basedir}/logs/${date:yyyyMM}/${shortdate}_error.txt" maxArchiveFiles="30"
                    layout="${longdate}|${level:uppercase=false}|${message} ${onexception:${exception:format=tostring}${newline}${stacktrace}${newline}" />

    <target name="warn_file" xsi:type="File"
                fileName="${basedir}/logs/${date:yyyyMM}/${shortdate}_warn.txt" maxArchiveFiles="30"
                layout="${longdate}|${level:uppercase=false}|${message} ${onexception:${exception:format=tostring}${newline}${stacktrace}${newline}" />

    <target name="info_file" xsi:type="File"
                fileName="${basedir}/logs/${date:yyyyMM}/${shortdate}_info.txt" maxArchiveFiles="30"
                layout="${longdate}|${level:uppercase=false}|${message} ${onexception:${exception:format=tostring}${newline}${stacktrace}${newline}" />

    <target name="fatal_file" xsi:type="File"
                fileName="${basedir}/logs/${date:yyyyMM}/${shortdate}_fatal.txt" maxArchiveFiles="30"
                layout="${longdate}|${level:uppercase=false}|${message} ${onexception:${exception:format=tostring}${newline}${stacktrace}${newline}" />


  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="Microsoft.Hosting.Lifetime" level="Info" writeTo="all_console" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Trace" writeTo="all_console" />

    <logger name="*" minlevel="Error" writeTo="error_file" />
    <logger name="*" level="Warn" writeTo="warn_file" />
    <logger name="*" level="Info" writeTo="info_file" />
    <logger name="*" level="Fatal" writeTo="fatal_file" />

  </rules>
</nlog>